# workflow for checking code quality and style
name: "Run linting and code checks"

on:
    push:
        branches: [ master, main ]
    pull_request:
        branches: [ master, main ]

permissions:
    contents: read
    actions: read

jobs:
    ruff-check:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: ["ubuntu-latest", "windows-latest", "macos-latest"]
                python-version: ["3.10", "3.11", "3.12", "3.13"]

        steps:
        - name: Checkout
          uses: actions/checkout@v5
        - name: Setup Python
          uses: actions/setup-python@v5

          with:
            python-version: ${{ matrix.python-version }}
            cache: "pip"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install ruff
            pip list

        - name: Run ruff check
          run: |
            ruff check .

        - name: Run ruff format
          run: |
            ruff format --check .
