name: DVC Workflow

on: 
    pull_request:
        branches:
        - main
        paths:
        - '*.dvc'
    push:
        branches:
        - main
        paths:
        - 'data/**'
        - '*.dvc'
    workflow_dispatch:

jobs:
    data-check:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: ["ubuntu-latest", "windows-latest", "macos-latest"]
                python-version: ["3.11", "3.12", "3.13"]
        permissions:
            contents: read
            pull-requests: write
        steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
            
          with:
            python-version: ${{ matrix.python-version }}
            cache: "pip"

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install dvc[gs]
            pip list
        
        - name: Authenticate with Google Cloud
          uses: google-github-actions/auth@v2
          with:
            credentials_json: '${{ secrets.GCP_SA_KEY }}'

        - name: DVC pull
          run: |
                dvc pull --no-run-cache
        
        - name: Check data statistics & generate report
          run: |
                python src/data/dataset_statistics.py > dataset_statistics.md
                mv dataset_statistics.md report.md
                echo '![](reports/figures/dataset_statistics.png)' >> report.md
                echo '![](reports/figures/class_distribution.png "Class distributions")' >> report.md
                echo '![](reports/figures/feature_distributions.png "Feature distributions")' >> report.md
                echo '![](reports/figures/correlation_matrix.png "Correlation matrix")' >> report.md

        - name: Setup cml
          uses: iterative/setup-cml@v2

        - name: Post report comment
          env:
            REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            cml comment create report.md --watermark-title="Data checker" # (1)