name: "Run tests"

# Only triggers when pushing or creating Pull Requests to master/main.
on:
    #If working inside another branch, tests must be triggered manually.
  push:
    branches: [ master, main ]
    paths:
      - '.github/workflows/tests.yaml'
      - 'src/**'
      - 'tests/**'
      - 'requirements_tests.txt'
      - 'requirements.txt'
  pull_request:
    branches: [ master, main ]
    paths:
      - '.github/workflows/tests.yaml'
      - 'src/**'
      - 'tests/**'
      - 'requirements_tests.txt'
      - 'requirements.txt'


permissions: #Suggestion from https://github.com/actions/setup-python#caching-packages-dependencies
  contents: read #For checking out the repository code.
  actions: read #For using actions/checkout and actions/setup-python.

jobs:
  pytest-test:
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false #Continue running all jobs even if one fails.
        matrix:
            os: ["ubuntu-latest", "windows-latest", "macos-latest"] #Testing on multiple OS' to ensure cross-platform compatibility.
            python-version: ["3.11", "3.12", "3.13"] # Commonly used Python versions

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip" #Caching pip dependencies between runs to speed up workflow.

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage pytest
        pip install -r requirements.txt
        pip install -r requirements_tests.txt
        pip list

    - name: Test with pytest
      run: |
        coverage run -m pytest tests/
        coverage report -m --ignore-errors

# TODO: Keep this as an example command for running pytest in verbose mode locally: pytest -v